body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  display: flex;
  max-width: 100vw;
}

.wrapper.week-list {
  flex-direction: column;
}

.box {
  display: inline-block;
  padding: 1rem;
  border: 1px solid;
  min-width: 4vw;
  max-width: 4vw;
  text-align: center;
}

.box.off {
  background: #ddd;
}

.days-header .box {
  border: none;
}

@media screen and (max-width: 768px) {
  .box {
    font-size: .5rem;
  }
}
